<div class="d-flex h-100 align-items-center justify-content-center">
    <div class="card bg-light mb-3 align-self-center" style="max-width: 18rem;">
      <div class="card-header">Student Form</div>
      <div class="card-body">
        <form action="/add-student-grade" method="POST">
          <label for="name">Name</label>
          <input id="name" name="name"/>
          <label for="name">Grade</label>
          <input type="number" id="grade" name="grade"/>
          <button type="submit" class="btn btn-primary mt-4">Add Student Grade</button>
        </form>        
      </div>
    </div>
  </div>