<table class="table">
    <thead>
    <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Grade</th>
        <th></th>
    </tr>
</thead>
<tbody>
    
    <% students.forEach(student => { %>
        <tr>
        <td><%=student.name%></td>
        <td><%=student.grade%></td>
        <td><a href="students/<%=student._id%>">Delete</a></td>
    </tr>
        <%})%>
    
</tbody>
</table>